@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-keyboard_arrow_down:before {
  content: "\e313";
}

.icon-close2:before {
  content: "\e5cd";
}

.icon-menu:before {
  content: "\e5d2";
}
